# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Chroma database
chroma_db/
chromadb/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Ignore VS Code state from another project
code/prototype_v1/